:root {
    /*** colors ***/
    --biloba-flower: #d1a9f0;
    --heliotrope: #c283f3;
    --amethyst: #9d5cd0;
    --royal-purple: #7943A4;
    --white: #fff;
	--black: #000;
    --mine-shaft: #333;
    --dove-gray: #666;
    --dusty-gray: #999;
    --silver: #cacaca;
    --gallery: #ececec;

	--accent-color-light: var(--heliotrope);
	--accent-color-main: var(--amethyst);
	--accent-color-dark: var(--royal-purple);
	--active-btn-border-color: var(--biloba-flower);
	--text-color-main: var(--mine-shaft);
    --text-color-inverse: var(--white);
	--text-color-light: var(--dusty-gray);
	--border-color: var(--silver);

    /*** font-size ***/
    --font-size-title-huge: 72px;
    --font-size-title-big: 48px;
    --font-size-title-medium: 32px;
    --font-size-title-small: 28px;
    --font-size-title-tiny: 24px;

    --line-height-main: 2;

    --font-size-big: 18px;
    --font-size-medium: 16px;
    --font-size-small: 14px;
    --font-size-tiny: 12px;

    /*** font-weight ***/
    --font-weight-normal: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;

    /*** border ***/
    --border-white: 1px solid var(--white);
    --border-outline: 2px solid var(--accent-color-dark);

    --border-radius: 6px;

    /*** box-shadows ***/
    --focus-shadow: 6px 6px 0 var(--accent-color-dark), 
    -6px -6px 0 var(--accent-color-dark),
    -6px 6px 0 var(--accent-color-dark),
    6px -6px 0 var(--accent-color-dark);

    /*** transitions ***/
    --transition-all: all .3s ease-in-out;

    /*** z-index ***/
    --z-index-menu-open: 100;
    --z-index-search-btn-open: 90;
    --z-index-header-lower-block: 80;
    --z-index-hero-background: 70;
    --z-index-select-filter: 30;

    /*** sizes ***/
    --max-width-container: 1703px;

    --padding-general: 34px;
    --padding-lr-container: 15px;
    --padding-lr-container-tablet-sm: 50px;

    --dropdown-list-content-padding: 40px;
}