.address {
    --padding-top: 17px;
    --padding-bottom: 26px;
    margin-bottom: calc(var(--map-height) + var(--padding-top) + var(--padding-bottom));
}

@media (min-width: 768px) {
    .address {
        margin-bottom: 30px;
    }
}

.address__title {
    margin-bottom: 3px;

    font-size: var(--font-size-big);
    letter-spacing: -0.4px;
}

@media (min-width: 768px) {
    .address__title {
        margin-bottom: 13px;
        font-size: var(--font-size-title-tiny);
    }
}

.address__address {
    font-size: var(--font-size-small);
    font-style: normal;
}


@media (min-width: 768px) {
    .address__address {
        margin-bottom: 7px;
        font-size: var(--font-size-medium);
    }
}
