.artists__header:focus-visible {
    outline: none;
}

.artists__header:not(:last-of-type) {
    margin-bottom: -1px;
}

.artists__btn {
    --artist-header-btn-size: 30px;
    --artist-btn-padding-tb: 21px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid var(--silver);
    border-bottom: 1px solid var(--silver);
    padding-top: var(--artist-btn-padding-tb);
    padding-bottom: var(--artist-btn-padding-tb);
    width: 100%;

    transition: border-color .3s ease-in-out;
}

@media (min-width: 768px) {
    .artists__btn {
        --artist-btn-padding-tb: 32px;
        --artist-header-btn-size: 50px;
    }
}

@media (min-width: 1280px) {
    .artists__btn:hover {
        position: relative;
        z-index: var(--z-index-artists-btn);

        border-color: var(--accent-color-main);
        transition: border-color .3s ease-in-out;
    }
}

.artists__btn:focus-visible {
    outline: none;
}

.artists__btn:active {
    position: relative;
    z-index: var(--z-index-artists-btn);

    border-color: var(--accent-color-main);
    transition: border-color .3s ease-in-out;
}

.ui-state-active .artists__btn {
    border-color: var(--accent-color-dark);
    transition: border-color .3s ease-in-out;
}

.artists__btn-title {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-medium);
    transition-property: background-color, color, box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.artists__btn:focus-visible .artists__btn-title {
    color: var(--white);

    outline: none;
    background-color: var(--accent-color-main);
    box-shadow: 0 6px 0 var(--accent-color-main), 
    0 -6px 0 var(--accent-color-main),
    0 0 0 var(--accent-color-main),
    0 0 0 var(--accent-color-main);;
    transition-property: background-color, color, box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

@media(min-width: 768px) {
    .artists__btn-title {
        font-size: var(--font-size-title-tiny);
    }
}

@media (min-width: 1280px) {
    .artists__btn:hover .artists__btn-title {
        color: var(--accent-color-main);
        transition: color .3s ease-in-out;
    }

    .artists__btn:focus-visible:hover .artists__btn-title {
        color: var(--text-color-inverse);
        transition: color .3s ease-in-out;
    }
}

.artists__btn:active .artists__btn-title {
    color: var(--accent-color-dark);
    transition: color .3s ease-in-out;
}

.artists__btn-icon {
    order: 1;

    border-radius: 100%;
    border: 2px solid var(--gallery);
    padding: 6px;
    padding-bottom: 8px;
    width: var(--artist-header-btn-size);
    height: var(--artist-header-btn-size);

    color: var(--black);
    background-color: var(--gallery);
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.artists__btn:focus-visible .artists__btn-icon {
    outline: none;
    border-color: var(--accent-color-light);
    background-color: var(--accent-color-light);
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

@media (min-width: 768px) {
    .artists__btn-icon {
        padding: 13px;
        padding-bottom: 15px;

        width: var(--artist-header-btn-size);
        height: var(--artist-header-btn-size);
    }
}

@media (min-width: 1280px) {
    .artists__btn:hover .artists__btn-icon {
        border-color: var(--accent-color-light);
        background-color: var(--accent-color-light);
        transition-property: background-color, border-color;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
    }
}

.artists__btn:active .artists__btn-icon {
    border-color: var(--accent-color-dark);
    background-color: var(--accent-color-light);
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.ui-state-active .artists__btn-icon {
    border-color: var(--accent-color-dark);
    background-color: var(--accent-color-light);
    transform: rotate(180deg);
    transition-property: background-color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.artists__nav {
    padding-top: 28px;
    padding-bottom: 24px;
}

@media (min-width: 768px) {
    .artists__nav {
        padding-top: 33px;
        padding-bottom: 22px;
    }
}

.artists__nav .empty-block {
    margin-top: -8px;
    margin-bottom: 1px;
}

.artists__list {
    display: none;
}

@media (min-width: 768px) {
    .artists__list {
        columns: 3 200px;
    }
}

.artists__nav-item--active {
    display: block;
}

.artists__item {
    font-size: 0;
}

.artists__item:not(:last-child) {
    margin-bottom: 11px;
}

.artists__item-btn {
    height: 21px;
    font-size: var(--font-size-medium);
    line-height: 1;

    border-bottom: 1px solid transparent;
    transition-property: border-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

@media (min-width: 1280px) {
    .artists__item-btn:hover {
        border-color: var(--accent-color-main);
        transition-property: border-color;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
    }
}

.artists__item-btn--active {
    color: var(--accent-color-dark);
    transition-property: background-color, color, box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.artists__item-btn:focus-visible {
    color: var(--white);

    outline: none;
    background-color: var(--accent-color-main);
    box-shadow: 0px 6px 0 var(--accent-color-main), 
    0px -6px 0 var(--accent-color-main),
    0px 6px 0 var(--accent-color-main),
    0px -6px 0 var(--accent-color-main);
    transition-property: background-color, color, box-shadow;
}

.artists__item-btn:active {
    border-color: transparent;
    color: var(--accent-color-dark);
    
    transition-property: border-color, color;
}
