.back-call-form {
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .back-call-form {
        margin-bottom: 39px;
    }
}

.back-call-form__title {
    margin-bottom: 23px;

    font-size: var(--font-size-big);
    font-weight: var(--font-weight-normal);
}

@media (min-width: 768px) {
    .back-call-form__title {
        margin-bottom: 19px;
    
        font-size: var(--font-size-title-tiny);
    }
}

.back-call-form__input {
    --input-width: 290px;
    --input-width-tablet: 335px;
    --input-width-desktop: 400px;
    
    width: var(--input-width);
    max-width: 100%;
}

.back-call-form__input:not(:last-child) {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .back-call-form__input {
        width: var(--input-width-tablet);
    }

    .back-call-form__input:not(:last-child) {
        margin-bottom: 23px;
    }
}

@media (min-width: 1280px) {
    .back-call-form__input {
        width: var(--input-width-desktop);
    }
}

.back-call-form__submit {
    padding-left: 32px;
    padding-top: 13px;

    background-color: var(--white);
}

@media (min-width: 768px) {
    .back-call-form__submit {
        padding-top: 18px;
        padding-bottom: 19px;
    }
}
