.books-slider__nav {
    display: none;
}

@media (min-width: 768px) {
    .books-slider__nav {
        display: flex;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .books-slider__container {
        overflow: hidden;
        margin-left: 27px;
        margin-right: 27px;
    }
}

@media (min-width: 896px) {
    .books-slider__container {
        margin-left: 0;
        margin-right: 0;
    }
}

.books-slider__wrapper {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .books-slider__wrapper {
        flex-wrap: nowrap;
    }
}

.books-slider__slide {
    flex-shrink: 0;
    width: calc((100% - 30px) / 2);
}

.books-slider__slide:focus-visible {
    outline: none;
}

.books-slider__slide:not(:nth-child(-n+2)) {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .books-slider__slide {
        margin-bottom: 0;
        width: unset;
    }

    .books-slider__slide:not(:nth-child(-n+2)) {
        margin-top: 0;
    }
}

.books-slider__slide:nth-child(odd) {
    margin-right: 30px;
}
