.burger {
    --burger-width: 25px;
    --burger-width-tablet-sm: 36px;
    --burger-line-height: 2px;
    --burger-line-height-tablet-sm: 3px;
    --burger-line-margin: 6px;
    --burger-line-margin-tablet-sm: 9px;

    display: block;

    width: var(--burger-width);
    
    font-size: 0;
    text-align: left;

    transition: var(--transition-all);
}

.burger:focus-visible {
    outline: none;
}

@media (min-width: 768px) {
    .burger {
        width: var(--burger-width-tablet-sm);
    }
}

.burger__line {
    display: inline-block;

    width: 100%;
    height: var(--burger-line-height);

    background-color: var(--white);
    transform-origin: left center;
    transition: var(--transition-all);
}

@media (min-width: 768px) {
    .burger__line {
        height: var(--burger-line-height-tablet-sm);
    }
}

.burger__line:not(:last-child) {
    margin-bottom: var(--burger-line-margin);
}

.burger__line:nth-child(2) {
    width: 64%;
}

.burger__line:nth-child(3) {
    width: 40%;
}

@media (min-width: 768px) {
    .burger__line:not(:last-child) {
        margin-bottom: var(--burger-line-margin-tablet-sm);
    }

    .burger__line:nth-child(2) {
        width: 77.8%;
    }
    
    .burger__line:nth-child(3) {
        width: 66.7%;
    }
}

.burger:focus-visible .burger__line {
    background-color: var(--accent-color-main);
    transition: var(--transition-all);
}

@media (min-width: 1280px) {
    .burger:hover .burger__line {
        background-color: var(--accent-color-light);
        transition: var(--transition-all);
    }
}

.burger:active .burger__line {
    background-color: var(--accent-color-dark);
    transition: var(--transition-all);
}
