.catalog__head {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .catalog__head {
        display: flex;
        align-items: center;

        margin-bottom: 23px;
    }
}

.catalog__title {
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .catalog__title {
        margin-bottom: 0;
        margin-right: 39px;
    }
}

@media (min-width: 896px) {
    .catalog__title {
        margin-right: 43px;
    }
}


@media (min-width: 1280px) {
    .catalog__title {
        margin-right: 40px;
    }
}

.catalog__descr {
    display: none;
}

@media (min-width: 768px) {
    .catalog__descr {
        display: block;
        margin-bottom: 20px;
    }
}

@media (min-width: 896px) {
    .catalog__descr {
        margin-bottom: 40px;
    }
}

@media (min-width: 1440px) {
    .catalog__descr {
        max-width: 68%;
    }
}

@media (min-width: 896px) {
    .catalog__body {
        display: flex;
        justify-content: space-between;
    }
}

.catalog__artists {
    margin-bottom: 50px;
}

@media (min-width: 896px) {
    .catalog__artists {
        order: 1;

        margin-left: var(--padding-lr-container-tablet-sm);
        width: calc((100% - var(--padding-lr-container-tablet-sm) / 2));
        min-width: 437px;
    }
}

@media (min-width: 1600px) {
    .catalog__artists {
        min-width: 800px;
    }
}

@media (min-width: 896px) {
    .catalog__artists-cards {
        width: calc((100% - var(--padding-lr-container-tablet-sm) / 2));
    }
}


@media (min-width: 1600px) {
    .catalog__artists-cards {
        max-width: 750px;
    }
}