.categories__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-top: 10px;
    padding-bottom: 13px;
    width: 100%;

    line-height: 1;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-inverse);
}

@media (min-width: 768px) {
    .categories__btn {
        border: none;
        margin-bottom: 6px;
        padding-bottom: 0;
    }
}

@media (min-width: 1280px) {
    .categories__btn {
        margin-bottom: 9px;
    }
}

@media (min-width: 768px) {
    .categories__btn-icon {
        display: none;
    }
}

@media (min-width: 896px) {
    .categories__title {
        margin-bottom: 2px;
    }
}

@media (min-width: 1280px) {
    .categories__title {
        margin-bottom: -2px;
    }
}

@media (min-width: 768px) {
    .categories__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;

        max-height: 159px;
    }
}

@media (min-width: 896px) {
    .categories__list {
        display: block;
        max-height: unset;
    }
}

.categories__item {
    --checkbox-btn-size: 12px;
    --marker-size: 4px;

    position: relative;
}

.categories__item-label {
    display: none;
    position: relative;

    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 11px;

    color: var(--text-color-inverse);
    line-height: 1;

    background-image: none;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: auto;

    transition: var(--transition-all);
    cursor: pointer;
}

.categories__item-checkbox:checked + .categories__item-label {
    display: block;
    color: var(--accent-color-light);
    background-image: url(../../icons/close-btn.svg);
    transition: var(--transition-all);
}

.open + .categories__list .categories__item-label {
    display: block;
}

.categories__item-checkbox:focus-visible + .categories__item-label {
    color: var(--accent-color-light);
    transition: var(--transition-all);
}

@media (min-width: 1280px) {
    .categories__item-label:hover {
        color: var(--accent-color-light);
        transition: var(--transition-all);
    }
}

.categories__item-label:active {
    color: var(--accent-color-light);
    transition: var(--transition-all);
}

@media (min-width: 768px) {
    .categories__item-label {
        display: block;
        border: none;

        padding-top: 9px;
        padding-bottom: 8px;
    }

    .categories__item-checkbox:checked + .categories__item-label {
        background-image: none;
    }
}

@media (min-width: 896px) {
    .categories__item-label {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.categories__item-label::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;

    border: 1px solid var(--text-color-inverse);
    width: var(--checkbox-btn-size);
    height: var(--checkbox-btn-size);

    text-align: center;
    transform: translateY(-50%);
    transition: var(--transition-all);
}

.categories__item-label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 4px;

    display: inline-block;
    width: var(--marker-size);
    height: var(--marker-size);
    border-radius: 100%;

    background-color: var(--accent-color-light);
    transform: translateY(-50%);
    opacity: 0;
    transition: var(--transition-all);
}

.categories__item-checkbox:checked + .categories__item-label::before {
    border-color: var(--accent-color-light);
    transition: var(--transition-all);
}

.categories__item-checkbox:checked + .categories__item-label::after {
    opacity: 1;
    transition: var(--transition-all);
}

.categories__item-checkbox:focus-visible + .categories__item-label::before {
    border-color: var(--accent-color-light);
    transition: var(--transition-all);
}

.categories__item-checkbox:focus-visible + .categories__item-label::after {
    background-color: var(--accent-color-light);
    transition: var(--transition-all);
}

@media (min-width: 1280px) {
    .categories__item-label:hover::before {
        border-color: var(--accent-color-light);
        transition: var(--transition-all);
    }

    .categories__item-label:hover::after {
        background-color: var(--accent-color-light);
        transition: var(--transition-all);
    }
}

.categories__item-label:active::before {
    border-color: var(--accent-color-light);
    transition: var(--transition-all);
}

.categories__item-label:active::after {
    background-color: var(--accent-color-light);
    opacity: 1;
    transition: var(--transition-all);
}
