.contacts {
    --map-height: 320px;
    --map-height-tablet: 700px;
    --info-width-tablet-sm: 56%;
    --info-width-tablet-lg: 47.5%;
    --info-width-desktop: 35.5%;

    position: relative;
    padding-top: 14px;
    padding-left: 0;
    padding-bottom: 28px;
}

@media (min-width: 768px) {
    .contacts {
        padding-top: 20px;
        padding-bottom: 0;
    }
}

@media (min-width: 1280px) {
    .contacts {
        padding-top: 18px;
    }
}

.contacts__header {
    margin-bottom: 19px;
}

@media (min-width: 768px) {
    .contacts__header {
        margin-bottom: 24px;
    }
}

.contacts__content {
    position: relative;
}

@media (min-width: 768px) {
    .contacts__content {
        display: flex;
    }
}

.contacts__info {
    padding: 0 var(--padding-lr-container);
}

@media (min-width: 768px) {
    .contacts__info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        border: 1px solid var(--silver);
        padding-top: 24px;
        padding-left: max(var(--padding-lr-container-tablet-sm), calc((100% - var(--max-width-inner-container)) / 2));
        width: var(--info-width-tablet-sm);
        background-color: var(--white);

    }
}

@media (min-width: 896px) {
    .contacts__info {
        width: var(--info-width-tablet-lg);
    }
}

@media (min-width: 1280px) {
    .contacts__info {
        padding-top: 3px;
        width: var(--info-width-desktop);
    }
}

.contacts__map {
    --top-offset: 57px;

    position: absolute;
    top: var(--top-offset);
    height: var(--map-height);
}

@media (min-width: 768px) {
    .contacts__map {
        --top-offset-tablet: 92px;

        position: static;
        top: 0;

        min-height: var(--map-height-tablet);
        width: calc(100% - var(--info-width-tablet-sm));
    }
}

@media (min-width: 896px) {
    .contacts__map {
        width: calc(100% - var(--info-width-tablet-lg));
    }
}

@media (min-width: 1280px) {
    .contacts__map {
        width: calc(100% - var(--info-width-desktop));
    }
}
