.dropdown-menu {
    width: 70%;
}

@media (min-width: 1440px) {
    .dropdown-menu {
        width: 64.6%;
    }
}

.dropdown-menu__list {
    display: flex;
    justify-content: space-between;
}
