.dropdown-list {
    --content-size: 300px;
    --list-item-size: 40px;

    position: relative;
    cursor: pointer;
}

.dropdown-list__header {
    line-height: 1;
    transition: var(--transition-all);
}

.dropdown-list__btn {
    font-size: var(--font-size-big);
    line-height: 1;
    color: var(--text-color-inverse);
    transition: var(--transition-all);
}

@media (min-width: 1280px) {
    .dropdown-list__btn:hover  {
        color: var(--accent-color-main);
        transition: var(--transition-all);
    }
}

.dropdown-list__btn:active  {
    color: var(--accent-color-dark);
    transition: var(--transition-all);
}

.dropdown-list__btn:focus-visible {
    outline: none;
    background-color: var(--accent-color-dark);
    box-shadow: var(--focus-shadow);
    transition: var(--transition-all);
}

.dropdown-list__header-text {
    margin-right: -2px;
}

.dropdown-list__header-arrow {
    transform: translateY(-1px);
}

.open .dropdown-list__header-arrow {
    transform: rotate(180deg) translateY(-2px);
}

.dropdown-list__content {
    display: none;
    position: absolute;
    top: 43px;

    padding: var(--dropdown-list-content-padding);
    width: var(--content-size);
    height: var(--content-size);
    
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    line-height: 1;

    background-color: rgba(0, 0, 0, .6);
}

.dropdown-list__content.open {
    display: block;
}

.dropdown-list__item {
    border: 2px solid transparent;
    padding: 12px 14px 10px 14px;
    height: var(--list-item-size);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: var(--transition-all);
}

.dropdown-list__item:not(:last-child) {
    margin-bottom: 20px;
}

@media (min-width: 1280px) {
    .dropdown-list__item:hover {
        border-color: var(--accent-color-main);
        transition: var(--transition-all);
    }
}

.dropdown-list__item:focus-visible {
    outline: none;
    border: 2px solid var(--accent-color-main);
    transition: var(--transition-all);
}

.dropdown-list__item:active {
    border: 2px solid var(--active-btn-border-color);

    background-color: rgba(194, 131, 243, .4);
    background-blend-mode: screen;
    transition: var(--transition-all);
}

.tintoretto {
    background-image: url('../../img/select-Tintoretto.jpg');
}

.friedrich {
    background-image: url('../../img/select-Friedrich.jpg');
}

.leonardo {
    background-image: url('../../img/select-Leonardo.jpg');
}

.verrocchio {
    background-image: url('../../img/select-Verrocchio.jpg');
}

.monet {
    background-image: url('../../img/select-Monet.jpg');
}

.sisley {
    background-image: url('../../img/select-Sisley.jpg');
}

.manet {
    background-image: url('../../img/select-Manet.jpg');
}

.renoir {
    background-image: url('../../img/select-Renoir.jpg');
}

.van-gogh {
    background-image: url('../../img/select-van-Gogh.jpg');
}

.cezanne {
    background-image: url('../../img/select-Cezanne.jpg');
}

.gauguin {
    background-image: url('../../img/select-Gauguin.jpg');
}

.seurat {
    background-image: url('../../img/select-Seurat.jpg');
}

.kandinsky {
    background-image: url('../../img/select-Kandinsky.jpg');
}

.marinetti {
    background-image: url('../../img/select-Marinetti.jpg');
}

.malevich {
    background-image: url('../../img/select-Malevich.jpg');
}

.picasso {
    background-image: url('../../img/select-Picasso.jpg');
}

.carra {
    background-image: url('../../img/select-Carra.jpg');
}

.pratella {
    background-image: url('../../img/select-Pratella.jpg');
}

.severini {
    background-image: url('../../img/select-Severini.jpg');
}

.balla {
    background-image: url('../../img/select-Balla.jpg');
}
