.empty-block--row {
    display: none;
    justify-content: space-between;
}

.empty-block--row.artists__nav-item--active {
    display: flex;
}

@media (min-width: 768px) {
    .empty-block--row {
        align-items: center;
    }
}

.empty-block__img {
    margin-bottom: 20px;
}

.empty-block__icon {
    position: relative;

    flex-shrink: 0;
    margin-right: 25px;
    width: 90px;
    height: 130px;
    border: 2px solid var(--nobel);
}

.empty-block__icon:after {
    --inner-offset: 6px;

    content: '';
    position: absolute;
    top: var(--inner-offset);
    bottom: var(--inner-offset);
    right: var(--inner-offset);
    left: var(--inner-offset);

    background-color: var(--nobel);
}

@media (min-width: 768px) {
    .empty-block__icon {
        width: 275px;
        height: 189px;
    }

    .empty-block__icon:after {
        --inner-offset: 12px;
    }
}

@media (min-width: 896px) {
    .empty-block__icon {
        width: 189px;
        height: 130px;
    }

    .empty-block__icon:after {
        --inner-offset: 8px;
    }
}

@media (min-width: 1440px) {
    .empty-block__icon {
        width: 275px;
        height: 189px;
    }

    .empty-block__icon:after {
        --inner-offset: 12px;
    }
}

.empty-block__text {
    flex-grow: 1;
}

.empty-block__title {
    margin-bottom: 15px;
    font-weight: var(--font-weight-medium);
}

.empty-block__title--row {
    font-size: var(--font-size-big);
}

.empty-block__title--column {
    font-size: var(--font-size-title-tiny);
}

@media (min-width: 768px) {
    .empty-block__title--row {
        font-size: var(--font-size-title-tiny);
    }
}

.empty-block__descr {
    margin-bottom: 6px;

    font-size: var(--font-size-medium);
    line-height: 1.4
}

.empty-block__descr--column {
    max-width: 85%;
}

@media (min-width: 768px) {
    .empty-block__descr--row {
        max-width: 75%;
    }

    .empty-block__descr--column {
        margin-bottom: 15px;
        max-width: 60%;
    }
}

@media (min-width: 896px) {
    .empty-block__descr--row {
        max-width: 275px;
    }

    .empty-block__descr--column {
        max-width: 95%;
    }
}

.empty-block__link {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
}
