.gallery-slider:focus,
.gallery-slider:focus-visible {
    outline: none;
}

@media (min-width: 768px) {
    .gallery-slider {    
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 896px) {
    .gallery-slider {
        padding-top: 76px;
    }
}

.gallery-slider__nav {
    --slider-nav-btn-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .gallery-slider__nav {
        justify-content: flex-start;
        margin-bottom: 30px;
        width: 100%;
    }
}

@media (min-width: 896px) {
    .gallery-slider__nav {
        position: absolute;
        top: 0;
        left: calc(var(--filter-form-width-tablet) + var(--padding-lr-container-tablet-sm) + var(--filter-form-margin-left-tablet-big));
    
        padding-top: 16px;
        padding-left: 2px;
    }
}

@media (min-width: 1280px) {
    .gallery-slider__nav {
        left: calc(var(--filter-form-width-desktop) + var(--padding-lr-container-tablet-sm) + var(--filter-form-margin-left-tablet-big));
    }
}

.swiper-container {
    order: 1;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .swiper-container {
        margin-bottom: 0;
    }
}

@media (min-width: 896px) {
    .swiper-wrapper {
        margin-bottom: 0;
    }
}

.swiper-slide {
    position: relative;
    font-size: 0;
    cursor: pointer;
}

.swiper-slide::after {
    content: '';
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;

    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../../icons/zoom.svg);
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;
    transition: var(--transition-all);
}

.swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(194, 131, 243, .4);

    opacity: 0;
    transition: opacity .01s ease-in-out;
}

.swiper-slide:active::before,
.swiper-slide:active::after {
    opacity: 1;
    transition: var(--transition-all);
}

@media (min-width: 1280px) {
    .swiper-slide:hover::after {
        opacity: 1;
        transition: var(--transition-all);
    }
}

.swiper-slide:focus-visible:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 3px solid var(--accent-color-dark);
    background-color: transparent;
    opacity: 1;
    transition: opacity .01s ease-in-out
}

@media (min-width: 768px) {
    .swiper-slide {
        height: 280px;
        overflow: hidden;
    }
}

@media (min-width: 1280px) {
    .swiper-slide {
        height: 350px;
    }
}

.swiper-slide__img {
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    position: static;

    border-radius: 100%;
    margin-top: 0;
    width: var(--slider-nav-btn-size);
    height: var(--slider-nav-btn-size);

    color: var(--dove-gray);
    transition: var(--transition-all);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
    opacity: .5;
    transition: var(--transition-all);
}

@media (min-width: 1280px) {
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        border-color: var(--accent-color-main);

        color: var(--accent-color-main);
        transition: var(--transition-all);
    }
}

.swiper-button-next:focus-visible,
.swiper-button-prev:focus-visible {
    border: 2px solid var(--black);
    transition: var(--transition-all);
    outline: none;
}

.swiper-button-next:active,
.swiper-button-prev:active {
    border: 2px solid var(--black);
    color: var(--accent-color-dark);
    transition: var(--transition-all);
}

.swiper-button__icon {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.swiper-pagination {
    position: static;

    margin-left: 14px;
    margin-right: 14px;
    width: max-content;
    color: var(--text-color-inverse);
}

@media (min-width: 768px) {
    .swiper-pagination {
        margin-left: 18px;
        margin-right: 18px;
    }
}