.gallery-slider:focus,
.gallery-slider:focus-visible {
    outline: none;
}

@media (min-width: 768px) {
    .gallery-slider {    
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 896px) {
    .gallery-slider {
        padding-top: 76px;
    }
}

.gallery-slider__nav {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .gallery-slider__nav {
        margin-bottom: 30px;
        width: 100%;
    }
}

@media (min-width: 896px) {
    .gallery-slider__nav {
        position: absolute;
        top: 0;
        left: calc(var(--filter-form-width-tablet) + var(--padding-lr-container-tablet-sm) + var(--filter-form-margin-left-tablet-big));
    
        padding-top: 16px;
        padding-left: 2px;
    }
}

@media (min-width: 1280px) {
    .gallery-slider__nav {
        left: calc(var(--filter-form-width-desktop) + var(--padding-lr-container-tablet-sm) + var(--filter-form-margin-left-tablet-big));
    }
}

.gallery-slider__container {
    order: 1;
    margin-bottom: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .gallery-slider__container {
        margin-bottom: 0;
    }
}

@media (min-width: 896px) {
    .gallery-slider__wrapper {
        margin-bottom: 0;
    }
}

.gallery-slider__slide {
    --slide-height-tablet: 280px;
    --slide-height-desktop: 350px;

    position: relative;
    font-size: 0;
    cursor: pointer;
}

.gallery-slider__slide::after {
    --slide-zoom-offset: 25px;

    content: '';
    position: absolute;
    top: var(--slide-zoom-offset);
    right: var(--slide-zoom-offset);
    bottom: var(--slide-zoom-offset);
    left: var(--slide-zoom-offset);

    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../../icons/zoom.svg);
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.gallery-slider__slide::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(194, 131, 243, .4);

    opacity: 0;
    transition: opacity .01s ease-in-out;
}

.gallery-slider__slide:active::before,
.gallery-slider__slide:active::after {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

@media (min-width: 1280px) {
    .gallery-slider__slide:hover::after {
        opacity: 1;
        transition: opacity .3s ease-in-out;
    }
}

.gallery-slider__slide:focus-visible:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 3px solid var(--accent-color-dark);
    background-color: transparent;
    opacity: 1;
    transition: opacity .01s ease-in-out;
}

@media (min-width: 768px) {
    .gallery-slider__slide {
        height: var(--slide-height-tablet);
        overflow: hidden;
    }
}

@media (min-width: 1280px) {
    .gallery-slider__slide {
        height: var(--slide-height-desktop);
    }
}

.gallery-slider__slide-img {
    height: 100%;
    object-fit: cover;
}
