.gallery {
    --gallery-padding-bottom: 80px;
    --filter-form-height: 70px;
    --filter-form-height-tablet: 75px;
    --filter-form-width: 100%;
    --filter-form-width-tablet: 280px;
    --filter-form-width-desktop: 400px;
    --filter-form-margin-left-tablet-big: 50px;

    background-image: url('../../img/gallery-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 896px) {
    .gallery {
        position: relative;
        padding-bottom: var(--gallery-padding-bottom);
    }
}

@media (min-width: 768px) {
    .gallery__container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 896px) {
    .gallery__container {
        position: relative;

        justify-content: space-between;
        flex-direction: row;
    }
}

.gallery__title {
    margin-bottom: 24px;
}

.gallery__title:focus-visible {
    outline: 0;
}

@media (min-width: 768px) {
    .gallery__title {
        margin-bottom: 31px;
    }
}

.gallery__filter-form {
    position: relative;

    margin-bottom: 40px;
    width: var(--filter-form-width);
    height: var(--filter-form-height);
}

@media (min-width: 768px) {
    .gallery__filter-form {
        margin-bottom: 50px;
        width: var(--filter-form-width-tablet);
        height: var(--filter-form-height-tablet);
    }
}

@media (min-width: 1280px) {
    .gallery__filter-form {
        width: var(--filter-form-width-desktop);
    }
}

.gallery__slider:focus-visible {
    outline: none;
}

@media (min-width: 768px) {
    .gallery__slider {
        order: 1;
        margin-bottom: 14px;
    }
}

@media (min-width: 896px) {
    .gallery__slider {
        padding-top: 76px;
        margin-bottom: 0;
        width: calc(100% - var(--filter-form-width-tablet) - var(--filter-form-margin-left-tablet-big));
    }
}

@media (min-width: 1280px) {
    .gallery__slider {
        width: calc(100% - var(--filter-form-width-desktop) - var(--filter-form-margin-left-tablet-big));
    }
}

.gallery__slider-nav {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .gallery__slider-nav {
        margin-bottom: 30px;
    }
}

@media (min-width: 896px) {
    .gallery__slider-nav {
        position: absolute;
        top: 0;
        left: calc(var(--filter-form-width-tablet) + var(--padding-lr-container-tablet-sm) + var(--filter-form-margin-left-tablet-big));
    }
}

@media (min-width: 1280px) {
    .gallery__slider-nav {
        position: absolute;
        top: 0;
        left: calc(var(--filter-form-width-desktop) + var(--padding-lr-container-tablet-sm) + var(--filter-form-margin-left-tablet-big));
    }
}

.gallery__note {
    display: inline-block;

    margin-left: var(--padding-lr-container);
    margin-right: var(--padding-lr-container);

    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-main);
    color: var(--text-color-inverse);
}

.gallery__note:focus-visible {
    outline: none;
}

@media (min-width: 768px) {
    .gallery__note {
        margin-left: var(--padding-lr-container-tablet-sm);
        margin-right: var(--padding-lr-container-tablet-sm);
    }
}

@media (min-width: 896px) {
    .gallery__note {
        position: absolute;
        bottom: calc(var(--gallery-padding-bottom) - 10px);
        left: 0;

        width: var(--filter-form-width-tablet)
    }
}

@media (min-width: 1280px) {
    .gallery__note {
        width: var(--filter-form-width-desktop)
    }
}

.gallery__sign-in-link {
    color: var(--accent-color-light);
    transition: var(--transition-all);
}

@media (min-width: 896px) {
    
    .gallery__sign-in-link:hover {
        color: var(--accent-color-dark);
        transition: var(--transition-all);
    }
}

.gallery__sign-in-link:focus-visible,
.gallery__sign-in-link:active {
    outline: none;
    
    color: var(--accent-color-dark);
    transition: var(--transition-all);
}
