@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.hero {
    --hero-height: 310px;
    --hero-height-tablet: 668px;
    --hero-height-desktop: 700px;

    position: relative;
    min-height: var(--hero-height);
}

@media (min-width: 768px) {
    .hero {
        min-height: var(--hero-height-tablet);
    }
} 

@media (min-width: 1280px) {
    .hero {
        min-height: var(--hero-height-desktop);
    }
}

.hero__slider {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: 100vw;
}

.hero__slide::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    animation: zoom alternate 30s linear infinite;
}

.hero__slide--1::before {
    background-image: url('../../img/hero-1_320-767.jpg');
}

.hero__slide--2::before {
    background-image: url('../../img/hero-2_320-767.jpg');
}

.hero__slide--3::before {
    background-image: url('../../img/hero-3_320-767.jpg');
}

@media (min-width: 768px) {
    .hero__slide--1::before {
        background-image: url('../../img/hero-1_768-1279.jpg');
    }
    
    .hero__slide--2::before {
        background-image: url('../../img/hero-2_768-1279.jpg');
    }
    
    .hero__slide--3::before {
        background-image: url('../../img/hero-3_768-1279.jpg');
    } 
}

@media (min-width: 1280px) {
    .hero__slide--1::before {
        background-image: url('../../img/hero-1-desktop.jpg');
    }
    
    .hero__slide--2::before {
        background-image: url('../../img/hero-2-desktop.jpg');
    }
    
    .hero__slide--3::before {
        background-image: url('../../img/hero-3-desktop.jpg');
    } 
}

.hero__container {
    --hero-content-width: 320px;
    --hero-content-width-tablet: var(--max-width-container);

    position: relative;
    padding-top: 34px;
    padding-bottom: 45px;
    max-width: var(--hero-content-width);
    height: 100%;

    text-align: center;
    color: var(--text-color-inverse);
}

@media (min-width: 768px) {
    .hero__container {
        padding-top: 113px;
        padding-bottom: 114.32px;
        max-width: var(--hero-content-width-tablet);

        text-align: left;
    }
}

@media (min-width: 1280px) {
    .hero__container {
        padding-top: 141px;
        padding-bottom: 123px;
    }
}

.hero__title {
    margin-bottom: 15px;
    font-size: var(--font-size-title-medium);
    line-height: 1.13;
}

@media (min-width: 768px) {
    .hero__title {
        margin-bottom: 11px;
        max-width: 600px;

        font-size: var(--font-size-title-huge);
        line-height: 1.16;
    }
}

@media (min-width: 1280px) {
    .hero__title {
        margin-bottom: 19px;
        max-width: 600px;
    }
}

.hero__descr {
    margin-bottom: 44px;
    padding-right: 10px;
    padding-left: 10px;

    font-size: var(--font-size-tiny);
    line-height: 1.25;
}

@media (min-width: 768px) {
    .hero__descr {
        margin-bottom: 134px;
        padding-left: 0;
        padding-right: 0;
        max-width: 670px;

        font-size: var(--font-size-big);
        font-weight: var(--font-weight-bold);
        line-height: 1.7;
    }
}

@media (min-width: 1280px) {
    .hero__descr {
        margin-bottom: 92px;
        padding-left: 0;
        padding-right: 0;
        max-width: 600px;

        font-size: var(--font-size-big);
        font-weight: var(--font-weight-bold);
        line-height: 1.7;
    }
}

@media (min-width: 768px) {
    .hero__subscribe-link {
        padding: 23px 33px;
    }
}
