.input {
    border-radius: 100px;
    border: 1px solid var(--text-color-main);
    padding: 3px 24px;
    width: 100%;

    font-size: var(--font-size-medium);
    line-height: 2;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.input::placeholder {
    color: var(--text-color-light);
}

.input:focus-visible {
    background-color: #eaeaea;
    transition: background-color .3s ease-in-out;
}

@media (min-width: 1280px) {
    .input:hover {
        background-color: #eaeaea;
        transition: background-color .3s ease-in-out;
    }
}

.input__wrapper {
    position: relative;
}
