.link {
    border-bottom: 1px solid transparent;
    color: var(--accent-color-main);
    transition-property: color, border-color, box-shadow, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.link:focus-visible {
    color: var(--text-color-inverse);

    outline: none;
    background-color: var(--accent-color-main);
    box-shadow: 6px 6px 0 var(--accent-color-main), 
    -6px -6px 0 var(--accent-color-main),
    -6px 6px 0 var(--accent-color-main),
    6px -6px 0 var(--accent-color-main);
    transition-property: color, box-shadow, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

@media (min-width: 1280px) {
    .link:hover {
        border-color: var(--accent-color-main);
        transition: border-color .3s ease-in-out;
    }
}

.gallery__sign-in-link:active {
    color: var(--accent-color-dark);
    border-color: var(--accent-color-dark);
    transition-property: color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
