.logo {
    --logo-width-small: 96.8px;
    --logo-height-small: 21.67px;
    --logo-width-medium: 173px;
    --logo-height-medium: 39.9px;
    --logo-width-big: 187.6px;
    --logo-height-big: 42px;

    width: var(--logo-width-small);
    height: var(--logo-height-small);
}

@media (min-width: 768px) {
    .logo {
        width: var(--logo-width-big);
        height: var(--logo-height-big);
    }
}

@media (min-width: 1280px) {
    .logo {
        width: var(--logo-width-medium);
        height: var(--logo-height-medium);
    }
}

.logo:focus-visible {
    position: relative;
    outline: none;
}

.logo:focus-visible::after {
    --outline-offset: -9px;

    content: '';

    position: absolute;
    top: var(--outline-offset);
    left: var(--outline-offset);
    bottom: var(--outline-offset);
    right: var(--outline-offset);
    
    border: var(--border-outline);
    transition: var(--transition-all);
}
