.logo {
    width: 96.8px;
    height: 21.67px;
}

@media (min-width: 768px) {
    .logo {
        width: 187.6px;
        height: 42px;
    }
}

@media (min-width: 1920px) {
    .logo {
        width: 173px;
        height: 39.9px;
    }
}

.logo:focus-visible {
    position: relative;
    outline: none;
}

.logo:focus-visible::after {
    --btn-outline-offset: -9px;

    content: '';

    position: absolute;
    top: var(--btn-outline-offset);
    left: var(--btn-outline-offset);
    bottom: var(--btn-outline-offset);
    right: var(--btn-outline-offset);
    
    border: 2px solid var(--accent-color-dark);
    transition: var(--transition-all);
}
