.menu {
    --menu-btn-close-size: 15px;
    --menu-btn-close-size-tablet: 29px;

    visibility: hidden;
    position: absolute;
    z-index: var(--z-index-menu-open);
    top: 0;
    right: 0;
    left: 0;

    min-height: 355px;
    padding: var(--padding-lr-container);
    padding-bottom: 27px;

    background-color: rgba(0, 0, 0, .9);
    font-size: 0;

    opacity: 0;
    transform: translateX(-101%);
    transition: all .3s cubic-bezier(0, 0, 0, 1);
}

@media (min-width: 768px) {
    .menu {
        padding: var(--padding-lr-container-tablet-sm);
        padding-top: 37px;
        min-height: 768px;
    }
}

@media (min-width: 1280px) {
    .menu {
        visibility: visible;
        
        position: static;
        z-index: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0;
        width: 100%;
        min-height: auto;

        background-color: transparent;
        transform: none;
        transition: none;
        opacity: 1;
    }
}

.menu.menu--open {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition: all .3s cubic-bezier(0, 0, 0, 1);
}

.menu.menu--open.menu--overflow {
    --menu-open-scroll-height: calc(var(--vh, 1vh) * 100);

    overflow: scroll;
    min-height: var(--menu-open-scroll-height);
    height: 100vh;
    height: var(--menu-open-scroll-height);
}

.menu__close-btn {
    margin-bottom: 24px;
    width: var(--menu-btn-close-size);
    height: var(--menu-btn-close-size);

    color: var(--text-color-inverse);
}

.menu--open .menu__close-btn {
    display: block;
}

@media (min-width: 768px) {
    .menu__close-btn {
        margin-bottom: 50px;
        width: var(--menu-btn-close-size-tablet);
        height: var(--menu-btn-close-size-tablet);
    }
}

@media (min-width: 1280px) {
    .menu__close-btn {
        display: none;
    }
}

.menu__close-btn:focus-visible .menu__close-btn-icon{
    color: var(--accent-color-main);
    transition: var(--transition-all);
}

.menu__close-btn-icon:active {
    color: var(--accent-color-dark);
    transition: var(--transition-all);
}

@media (min-width: 768px) {
    .menu__close-btn-icon {
        width: var(--menu-btn-close-size-tablet);
        height: var(--menu-btn-close-size-tablet);
    }
}

.menu__nav {
    margin-bottom: 26px;
}

@media (min-width: 768px) {
    .menu__nav {   
        margin-bottom: 133px;
    }
}

@media (min-width: 1280px) {
    .menu__nav {   
        margin-bottom: 0;
    }
}

.menu__nav-item {
    width: max-content;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    line-height: 1;

    transition: var(--transition-all);
}

.menu__nav-item:not(:last-child) {
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .menu__nav-item {
        font-size: var(--font-size-title-tiny);
    }

    .menu__nav-item:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (min-width: 1280px) {
    .menu__nav {
        margin-right: 100px;
        width: 100%;
    }

    .menu__nav-list {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1280px) {
    .menu__nav-item {
        font-size: var(--font-size-big);
    }

    .menu__nav-item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 35px;
    }

    .menu__nav-item:hover {
        color: var(--accent-color-light);
        transition: var(--transition-all);
    }
}

@media (min-width: 1600px) {
    .menu__nav-item:not(:last-child) {
        margin-right: 62.4px;
    }
}

.menu__nav-item:active {
    color: var(--accent-color-dark);
    transition: var(--transition-all);
}

.menu__nav-link {
    display: block;
}

.menu__nav-link:focus-visible {
    outline: none;
    background-color: var(--accent-color-dark);
    box-shadow: var(--focus-shadow);
    transition: var(--transition-all);
}

.menu__sign-in {
    display: none;
}

@media (min-width: 1280px) {
    .menu__sign-in {
        display: flex;
        padding: 0;

        transform: translate(-.6px, 0.5px);
    }
}

.menu--open .menu__sign-in {
    display: block;
}

@media (min-width: 768px) {
    .menu--open .menu__sign-in {
        transform: translateX(1px);
    }
}
