.sign-in { 
    transition: var(--transition-all);
}

@media (min-width: 1024px) {
    .sign-in:hover {
        color: var(--accent-color-light);
        transition: var(--transition-all);
    }
}

@media (min-width: 1280px) {
    .sign-in {
        border: none;
        border-radius: 0;

        font-size: var(--font-size-big);
        font-weight: var(--font-weight-normal);
    }

    .sign-in:focus-visible {
        outline: none;
        background-color: var(--accent-color-dark);
        box-shadow: var(--focus-shadow);
        transition: var(--transition-all);
    }

    .sign-in:focus-visible::after {
        display: none;
    }
}

.sign-in:active {
    color: var(--accent-color-main);
    transition: var(--transition-all);
}
