.simplebar-track {
    background-color: var(--black);
}

.simplebar-track.simplebar-vertical {
    top: var(--dropdown-list-content-padding);
    right: 19px;
    bottom: var(--dropdown-list-content-padding);

    width: 2px;
    background-color: var(--black);
}

.simplebar-scrollbar::before {
    border-radius: 0;

    background-color: var(--white);
    transition: var(--transition-all);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.simplebar-scrollbar.simplebar-hover::before,
.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
    transition: var(--transition-all);
}
