.gallery {
    --filter-form-height: 70px;
    --filter-form-height-tablet: 75px;
    --filter-form-width: 100%;
    --filter-form-width-tablet: 280px;
    --filter-form-width-desktop: 400px;
    --filter-form-margin-left-tablet-big: 50px;

    background-image: url('../../img/bg-gallery-767.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .gallery {
        padding-bottom: 71px;
    }
}

@media (min-width: 896px) {
    .gallery {
        position: relative;
        padding-bottom: 80px;
        background-image: url('../../img/bg-gallery-1920.jpg');
    }
}

@media (min-width: 768px) {
    .gallery__container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 896px) {
    .gallery__container {
        position: relative;

        justify-content: space-between;
        flex-direction: row;
    }
}

.gallery__title {
    margin-bottom: 24px;
}

.gallery__title:focus-visible {
    outline: 0;
}

@media (min-width: 768px) {
    .gallery__title {
        margin-bottom: 31px;
    }
}

.gallery__filter-form {
    position: relative;

    margin-bottom: 40px;
    width: var(--filter-form-width);
    height: var(--filter-form-height);
}

@media (min-width: 768px) {
    .gallery__filter-form {
        margin-bottom: 50px;
        width: var(--filter-form-width-tablet);
        height: var(--filter-form-height-tablet);
    }
}

@media (min-width: 1280px) {
    .gallery__filter-form {
        width: var(--filter-form-width-desktop);
    }
}

@media (min-width: 768px) {
    .gallery__slider {
        margin-bottom: 30px;
    }
}

@media (min-width: 896px) {
    .gallery__slider {
        margin-bottom: 0;
        width: calc(100% - var(--filter-form-width-tablet) - var(--filter-form-margin-left-tablet-big));
    }
}

@media (min-width: 1280px) {
    .gallery__slider {
        width: calc(100% - var(--filter-form-width-desktop) - var(--filter-form-margin-left-tablet-big));
    }
}

.gallery__note {
    display: inline-block;

    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-main);
    color: var(--text-color-inverse);
}

.gallery__note:focus-visible {
    outline: none;
}

@media (min-width: 896px) {
    .gallery__note {
        position: absolute;
        bottom: -10px;
        left: var(--padding-lr-container-tablet-sm);

        width: var(--filter-form-width-tablet)
    }
}

@media (min-width: 1280px) {
    .gallery__note {
        width: var(--filter-form-width-desktop)
    }
}

.gallery__sign-in-link {
    color: var(--accent-color-light);
}
