.projects__title {
    margin-bottom: 17px;
}

@media (min-width: 768px) {
    .projects__title {
        margin-bottom: 24px;
    }
}

.projects__descr {
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .projects__descr {
        margin-bottom: 28px;
        max-width: 99%;
    }
}

@media (min-width: 896px) {
    .projects__descr {
        margin-bottom: 21px;
    }
}

@media (min-width: 1280px) {
    .projects__descr {
        margin-bottom: 22px;
        max-width: 65%;
    }
}

.projects__link {
    font-weight: var(--font-weight-medium);
}

@media (min-width: 768px) {
    .projects__link {
        white-space: nowrap;
    }
}

.projects__partners-title {
    margin-bottom: 17px;

    font-size: var(--font-size-big);
    font-weight: var(--font-weight-medium);
}

@media (min-width: 768px) {
    .projects__partners-title {
        margin-bottom: 32px;
        font-size: var(--font-size-title-tiny);
    }
}

@media (min-width: 896px) {
    .projects__partners-title {
        margin-bottom: 26px;
    }
}

@media (min-width: 768px) {
    .projects__partners-slider {
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media (min-width: 1280px) {
    .projects__partners-slider {
        padding-left: 0;
        padding-right: 0;
    }
}
