.section {
    padding-top: 55px;
    padding-bottom: 41px;
}

@media (min-width: 768px) {
    .section {
        padding-top: 89px;
        padding-bottom: 69px;
    }
}

@media (min-width: 1280px) {
    .section {
        padding-bottom: 71px;
        padding-left: 2px;
    }
}

.section__title {
	font-size: var(--font-size-title-small);
	font-weight: var(--font-weight-normal);
	line-height: 1;
}

.section__title--inverse {
	color: var(--text-color-inverse);
}

@media (min-width: 768px) {
	.section__title {
		font-size: var(--font-size-title-big);
	}
}

.section__descr {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-main);
}
